  <div class="home-body container">
    <div class="well text-left">
      <p>Cody is the most junior developer at Corporate Technologies Advantage, LLC. in Springfield, Missouri.</p>
      <p>His skills include poorly done Ruby on Rails development, nested select queries and ignorance of joins in SQL database use and administration, slightly more competent Linux administration, and imaginary Windows domain administration.</p>
      <p>Below is the only known picture of him.</p>
      <%= image_tag "Abduction.jpg", size: "339x480" %>
    </div>
  </div>
