  <div class="home-body container">
    <div class="well text-left">
      <p>Cody is a very junior developer at Corporate Technologies Advantage, LLC. in Springfield, Missouri.</p>
      <p>His skills include Ruby on Rails development, SQL database use and administration, Linux administration, and Windows domain administration.</p>
      <p>Below is the only known picture of him.</p>
      <%= image_tag "Abduction.jpg", size: "339x480" %>
    </div>
  </div>
