<!DOCTYPE html>
<html>
<head>
  <title>Hello, Cody!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header text-center">
    <div class="nav navbar-default navbar-fixed-top">
      <div class="container">
        <h1>Cody Works</h1>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
